{% extends 'base.html.twig' %}

{% block title %}Perfil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

<main>

    {% include 'header.html.twig' %}
    {% include 'menu-user.html.twig' %}

    <div class="container content-container">
        <div class="row">
            <div class="col-md-12">
                <h1>Mi perfil</h1>
            </div>
            <div class="col-md-12">

            </div>
        </div>
    </div>

</main>

{% endblock %}
