{% extends 'base.html.twig' %}

{% block title %}Perfil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    {% include 'header.html.twig' %}
    {% include 'menu-user.html.twig' %}

    <div class="container main-container">
        <div class="row">
            <div class="panel panel-profile">
                <div class="panel-heading">
                    <h2>Mi perfil</h2>
                </div>
                <div class="panel-form">
                </div>
            </div>
        </div>
    </div>

{% endblock %}
