/*================================================*/
/*                     CLiente  游뫁                */
/*================================================*/
main{
    padding: 0px;
    margin:0px;
    width: 100%;
    height: 100%;
}

/*================================================*/
/*             Cabecera Vista CLiente 游뫁          */
/*================================================*/
#cabecera{
    border:1px solid;
    width: 100%;
    height: 70px;
}

#cabecera h1{
    width: 50%;
    margin-left: 5px;
    float: left;
    margin-top: 15px;
    font-family: 'Dancing Script', cursive;
}

#cabecera img{
    width: 4%;
    float: right;
    margin-right: 20px;
    margin-top: 4px;
}

#cabecera #logo{
    float: left;
    margin-left: 40px;
    margin-right: 0.1px;
    width: 60px;
}

/*================================================*/
/*           Fin Cabecera Vista CLiente  游몿       */
/*================================================*/

/*================================================*/
/*             Section Vista CLiente  游뫁          */
/*================================================*/
section{
    width: 79%;
    float: right;
    height: 100%;
}

section #buscador{
    width: 30%;
    margin-bottom: 25px;
    border-radius: 20px;
    border: 1px solid;
}


section #iconos{
    margin-top: -25px;
}


section img{
    width: 3%;
    float: right;
    margin-right: 10px;
}

section p{
    height: 25px;
    margin-left: 10px;
}

section #titulo{
    width: 70%;
    margin-left: 9%;
    margin-top: 20px;
}

section #titulo h1{
    margin-left: 10px;
}

section #search{
    margin-top: 20px;
}


aside#menu h2:hover{
    background-color: grey;
    transition: background-color .1s;
}

section #a침adir{
   margin-top: 60px;
   margin-right: 1px;
}

section #clientes{
    border: 1px solid;
    border-radius: 20px;
    width: 70%;
    margin-left: 10%;
}

section button{
    border-radius: 10px;
    background-color: #6699FF;
}

section #clientes li:last-child{
    margin-bottom: 20px;
    margin-top: -10px;
}

section #empresas{
    border: 1px solid;
    border-radius: 20px;
    width: 70%;
    margin-left: 10%;
}

section h1{
    font-family: 'Dancing Script', cursive;
}

section hr:last-child{
    display: none;
}

section img{
    width: 3%;
    float: right;
    margin-right: 10px;
}

section #showAllClients{
    margin-left: 98px;
}
/*================================================*/
/*            Fin Section Vista CLiente  游몿       */
/*================================================*/

/*================================================*/
/*               Aside Vista CLiente 游뫁           */
/*================================================*/
aside{
    width: 19%;
    float: left;
    height: 100px;
    text-align: center;
    height: 80%;
}

aside h2{
    width: 100%;
    margin-top: 0.1px;
    margin-bottom: 0.1px;
    border: 1px solid;
    height: 7%;
    color: black;
    padding-top: 10px;
}

aside a{
    text-decoration: none;
    margin-top: 10px;
}
/*================================================*/
/*             Fin Aside Vista CLiente  游몿        */
/*================================================*/

<<<<<<< HEAD
/*================================================*/
/*      Tabla con Informaci칩n del Cliente  游뫁     */
/*================================================*/
=======

>>>>>>> 1ef6e323df2574a45184c295795be448c77cc494
tr{
    border: 1px solid;
}

td{
    border:1px solid;
    text-align: center;
}

th{
    border: 1px solid;
}

table{
    border: 1px solid;
    width: 30%;
    margin-top: 10px;
    margin-left:10px;
}

input{
    margin-left:10px;
    
}


#boton{
    width: 100px; 
    height: 30px; 
    background: #6699FF; 
    color: #ffffff; 
    cursor: pointer; 
    border: 0px;
    border-radius: 20px;
}
<<<<<<< HEAD

/*================================================*/
/*     Fin Tabla con Informaci칩n del Cliente 游몿   */
/*================================================*/

/*================================================*/
/*               Registro CLiente  游뫁             */
/*================================================*/
#sectionRegister #Register{
    width: 27%;
    margin-left: 40px;
}

#sectionRegister h1{
    margin-left: 40px;
}

#sectionRegister input{
    float: right;
}


#backR{
    margin-top: 15%;
    float: left;
    width: 100px; 
    height: 30px; 
    background: #6699FF; 
    color: #ffffff; 
    cursor: pointer; 
    border: 0px;
    border-radius: 20px;
}
/*================================================*/
/*             Fin Registro CLiente  游몿           */
/*================================================*/

/*================================================*/
/*               Editar CLiente  游뫁               */
/*================================================*/
#sectionEdit #Edit{
    width: 27%;
    margin-left: 40px;
}

#sectionEdit h1{
    margin-left: 40px;
}

#sectionEdit input{
    float: right;
}


#backE{
    margin-top: 15%;
    float: left;
    width: 100px; 
    height: 30px; 
    background: #6699FF; 
    color: #ffffff; 
    cursor: pointer; 
    border: 0px;
    border-radius: 20px;
}
/*================================================*/
/*               Fin Editar CLiente  游몿           */
/*================================================*/

=======
>>>>>>> 1ef6e323df2574a45184c295795be448c77cc494
/*company*/

section #clientesCompany{
    border: 1px solid;
    border-radius: 20px;
    width: 70%;
    margin-left: 10%;
    margin-top: 2%;
}

section #a침adirCompany{
    margin-top: 20px;
}

