{% extends 'base.html.twig' %}

{% block title %}Add Product{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block body %}
<h3>Añadir nuevo producto</h3>
    {{form(form)}}
<a href="{{ path('product',{id:company_id}) }}">Back to products</a>
{% endblock %}