{% extends 'base.html.twig' %}

{% block title %}Buscardor Productos{% endblock %}
{% block stylesheets %}
        <style>
            ul{
                list-style-type:none;
            }
        </style>
{% endblock %}
{% block body %}
<div class="bloque">

    <h1>Search Products By Name</h1>
    <p>{{product.name}} ------> <a href=""><button>Editar Producto</button></a> <a href=""><button>Eliminar Producto</button></a></p>
    <a href="{{ path('product',{id:id_company}) }}">Volver a todos los productos </a>
   
</div>
{% endblock %}