
<header>
    <div id="cabecera">
        <img src="{{ asset("img/logo1.png") }}" alt="Logo" id="logo">
        <h1>Factura Fácil</h1>
        <a href="">Mis empresas</a>
        <a href=""><img src="{{ asset("img/avatar.png") }}" alt="Avatar"/></a>
    </div>
</header>