
<header>
    <nav class="navbar-facturas">
        <div class="nav-start">
            <img src="{{ asset("img/logo1.png") }}" alt="Logo" id="logo">
            <a href="{{ path('companies') }}" class="navbar-brand">Factura Fácil</a>
        </div>

        <div class="nav-end">

            <div class="nav-items">
                <ul>
                    <li id="menu-user-toggle"><a><img src="{{ asset('img/' ~ app.user.avatar) }}" alt="{{ app.user.name }}"/></a></li>
                </ul>
            </div>
            <a href="/logout" class="navbar-brand">Logout</a>
        </div>
    </nav>
</header>