
<aside class="nav-acount">
    <ul>
        <li>
            <a href="{{ path('companies') }}">
                <div class="nav-acount-img"><i class="fas fa-building"></i></div>
                <span>Mis Empresas</span>
            </a>
        </li>
        <li>
            <a href="{{ path('profile') }}">
                <div class="nav-acount-img"><i class="fas fa-user-circle"></i></div>
                <span>Mi Perfil</span>
            </a>
        </li>
        <li>
            <a class="logout" href="{{ path('app_logout') }}">
                <div class="nav-acount-img"><i class="fas fa-sign-out-alt"></i></div>
                <span>Cerrar Sesión</span>
            </a>
        </li>
    </ul>
</aside>